.button_sidebar_container {
  height: 100%;
  width: 12vh;
  position: fixed;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.center_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.button_sidebar {
  position: fixed;
  left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.button {
  height:12vh;
  width:12vh;
}

.button_icon {
  height:8vh;
  width:8vh;
}

.show_pickers_elements {
  position:fixed;
  top: 20%;
  left:20%;

  width: 60%;
  height: 60%;

  border-style: solid;
  border: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 2;
}
.button_format {

}

.grid{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  width: 80%;
  max-width: 600px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px;
  border-radius: 5px;
}

.central_svg {
  width:60%;
  height:60%;

  position:fixed;
  top:20%;
  left:20%;
}
